---
layout: layouts/dynamic.njk
title: Keys
description: Keys in Sources
---
{% from "partials/startcol.njk" import startcol with context %}
{% if not data.keys %}
	<div>
		<p><i>No key signatures</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="{{ '/keys/common/' | url | abs_url }}">Commonality</a></h3>
	{{ startcol(data.keys) }}
		<ul>
			{% for key in data.keys | sort(false, false, 'name') %}
				<li><a href="{{ ('/keys/' + key.id) | url | abs_url }}">{{ key.name|smartquotes|e }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
