---
layout: layouts/dynamic.njk
title: Tempos
description: Tempos in Sources
---
{% if not data.tempos %}
	<div>
		<p><i>No tempos</i></p>
	</div>
{% else %}
	{% from "partials/startcol.njk" import startcol with context %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="{{ '/tempos/common/' | url | abs_url }}">Commonality</a></h3>
	{{ startcol(data.tempos) }}
		<ul>
			{% for tempo in data.tempos | sort(false, false, 'name') %}
				<li><a href="{{ ('/tempos/' + tempo.id) | url | abs_url }}">{{ tempo.name|smartquotes|e }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
