{% macro recording(song, small=false) %}
	{% if song.audio and song.audio|length > 0 %}
		{% if small %}
			<span class="icon-recording-small" title="A recording exists for this song"></span>
		{% else %}
			<span class="icon-recording" title="A recording exists for this song"></span>
		{% endif %}
	{% endif %}
{% endmacro %}
{% macro edition(song, small=false) %}
	{% if song.editions and song.editions|length > 0 %}
		{% if small %}
			<span class="icon-edition-small" title="An edition exists for this song"></span>
		{% else %}
			<span class="icon-edition" title="An edition exists for this song"></span>
		{% endif %}
	{% endif %}
{% endmacro %}
{% macro warning(song, small=false) %}
	{% set output = false %}
	{% if song.texts %}
		{% for text in song.texts %}
			{% if text.warnings|length > 0 %}
				{% set output = true %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if output %}
		{% if small %}
			<span class="icon-warning-small" title="A content warning exists for this song"></span>
		{% else %}
			<span class="icon-warning" title="A content warning exists for this song"></span>
		{% endif %}
	{% endif %}
{% endmacro %}
{% macro edrec(song, small=false) %}
	{{ recording(song, small=small) }}
	{{ edition(song, small=small) }}
	{{ warning(song, small=small) }}
{% endmacro %}
