{% macro image(name) %}
	{% set rTest = r/(.+)(\..+)/ %}
	{% set rwebp = "$1.webp" %}
	{% set rjpg = "$1.jpg" %}
	<picture style="max-width:832px;">
		<source srcset="{{ ('/images/' + name.replace(rTest, rwebp)) | url | abs_url }}"/>
		<source srcset="{{ ('/images/' + name.replace(rTest, rjpg)) | url | abs_url }}"/>
		<img src="{{ ('/images/' + name.replace(rTest, rjpg)) | url | abs_url }}"/>
	</picture>
{% endmacro %}
{% macro imagelink(name) -%}
	{{config.fullImage}}{{ name -}}
{%- endmacro %}
{% macro linkedimages(names) %}
	{% for im in names %}
		<a rel="dbo:Facsimile" typeof="dcmi:StillImage" href="{{ imagelink(im) }}">
			<span class="no-js">{{ image(im) }}</span>
		</a>
	{% endfor %}
	<ul class="js">
		{% for im in names %}
			<li><a href="{{imagelink(im)}}">{{ im|e }}</a></li>
		{% endfor %}
	</ul>
	<div class="mirador-viewport">
		<div id="mirador-wrapper-{{ names|first|forID }}"></div>
	</div>
	<script>document.write("<script type=\"text/javascript\" src=\"https://unpkg.com/mirador@3.1.1/dist/mirador.min.js\"><\/script>");</script>
	<script type="text/javascript">
		var miradorInstance = Mirador.viewer({
			"id": "mirador-wrapper-{{names|first|forID}}",
			"windows": [
				{
					"manifestId": "{{ ('/manifests/' + (names|first) + '/manifest.json') | url | abs_url }}"
				}
			],
			"themes": {
				"light": {
					"palette": {
						"primary": {
							"main": "#744210"
						},
						"secondary": {
							"main": "#362417"
						}
					}
				}
			}
		});
	</script>
{% endmacro %}
