{% macro facebook(id, width=832, height=468) %}
	<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwatch%2F%3Fv%3D{{id}}&show_text=0&width={{width}}" width="{{width}}" height="{{height}}" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> {% endmacro %}
