---
layout: layouts/dynamic.njk
title: Tempos
description: Tempos in Sources, sorted by most common to least common
---
{% from "partials/startcol.njk" import startcol with context %}
{% if not data.tempos %}
	<div>
		<p><i>No tempos</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/tempos/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{{ startcol(data.tempos) }}
		<ul>
			{% for tempo in data.tempos | sortLinkLen('items') %}
				<li><a href="{{ ('/tempos/' + tempo.id) | url | abs_url }}">
					{{ tempo.name|smartquotes|e }}
					({{ tempo.links.items|length }} song
					{%- if tempo.links.items|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
