---
layout: layouts/dynamic.njk
title: Items
description: Items in Sources
---
{% set splitted = data.songs | bettersort('sortabletitle') | alphasplit('sortabletitle') %}
{% if not data.items %}
	<div>
		<p><i>No items</i></p>
	</div>
{% else %}
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.items) }}
		<ul class="category-list">
			{% for source in data.sources | sort(false, false, 'shelfmark') %}
				<a class="inline" name="source-anchor-{{source.shelfmark}}" href="#source-anchor-{{source.shelfmark}}">	
					<h2 class="inline">{{ source.shelfmark }}</h2>
				</a>
				<hr class="mb-2 border border-black"/>
				{% set items = [] %}
				{% for page in source.links.pages -%}
					{%- for item in page.links.items -%}
						{% set throwaway = items.push(item) %}
					{%- endfor -%}
				{%- endfor -%}
				{% for item in items|unique %}
					<li><a href="{{ ('/items/' + item.id) | url | abs_url }}">
						{{ item.sortabletitle|truncate(config.truncate)|smartquotes|e }}
					</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
