---
layout: layouts/dynamic.njk
title: Keys
description: Keys in Sources, sorted by most common to least common
---
{% from "partials/startcol.njk" import startcol with context %}
{% if not data.keys %}
	<div>
		<p><i>No key signatures</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/keys/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{{ startcol(data.keys) }}
		<ul>
			{% for key in data.keys | sortLinkLen('items') %}
				<li><a href="{{ ('/keys/' + key.id) | url | abs_url }}">
					{{ key.name|smartquotes|e }}
					({{ key.links.items|length }} song
					{%- if key.links.items|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
