---
layout: layouts/dynamic.njk
title: Editors
description: Editors in Sources, sorted by most common to least common
---
{%- set filtered = [] -%}
{%- for person in data.people -%}
	{%- if person.links.sources -%}
		{%- set broken = false -%}
		{%- for song in person.links.sources -%}
			{%- if (not broken) and song.editors.includes(person) -%}
				{%- set dummy = filtered.push(person) -%}
				{%- set broken = true -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
{% if not filtered %}
	<div>
		<p><i>No editors</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/editors/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(filtered) }}
		<ul>
			{% for person in filtered | sortLinkLen('sources') %}
				<li><a href="{{ ('/people/' + person.id) | url | abs_url }}">
					{{ person.name|smartquotes|e }}
					{% if person.dates and person.dates|length > 0 %}
						(
							{{- person.dates[0] -}}
							{%- if (person.dates | length) == 2 -%}
								&ndash;
								{{- person.dates[1] -}}
							{%- endif -%}
						)
					{% endif %}
					({{ person.links.sources|length }} source
					{%- if person.links.sources|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
