---
layout: layouts/dynamic.njk
title: Genres
description: Genres in Sources, sorted by most common to least common
---
{% from "partials/startcol.njk" import startcol with context %}
{% if not data.genres %}
	<div>
		<p><i>No genres</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/genres/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{{ startcol(data.genres) }}
		<ul>
			{% for genre in data.genres | sortLinkLen('songs') %}
				<li><a href="{{ ('/genres/' + genre.id) | url | abs_url }}">
					{{ genre.name|smartquotes|e }}
					({{ genre.links.songs|length }} song
					{%- if genre.links.songs|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
