<!doctype html>
<html lang="en" prefix="mo: http://purl.org/ontology/mo/
	    		dc: http://purl.org/dc/elements/1.1/
			dcterms: http://purl.org/dc/terms/
			dcmitype: http://purl.org/dc/dcmitype/
			xsd: http://www.w3.org/2001/XMLSchema#
			tl: http://purl.org/NET/c4dm/timeline.owl#
			event: http://purl.org/NET/c4dm/event.owl#
			foaf: http://xmlns.com/foaf/0.1/
			rdfs: http://www.w3.org/2000/01/rdf-schema#
			dbo: http://dbpedia.org/ontology/
			pro: http://purl.org/spar/pro/
			mso: http://linkeddata.uni-muenster.de/ontology/musicscore#
			ton: http://purl.org/ontology/tonality/
			bf: https://www.loc.gov/bibframe/">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ renderData.description or description or metadata.description }}">
		<meta name="google-site-verification" content="9LMH7iH5ndRlS2-NWXPgcg3qbNgxi9scZXhzzF4UkLM"/>
		<title>
			To Your Rude Health | {{ title }}
			{%- if record and recordattr and record[recordattr] -%}
				: {{ record[recordattr] | string | truncate(config.truncate) | smartquotes | e}}
			{%- endif -%}
		</title>
		<link rel="stylesheet" href="{{ '/styles/index.css' | url | abs_url }}">
		<link rel="shortcut icon" href="{{ '/images/static/favicon.ico' | url | abs_url }}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{{ '/images/static/favicon.ico' | url | abs_url }}">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ '/images/static/favicon-192.png' | url | abs_url }}">
		<link rel="icon" type="image/png" sizes="160x160" href="{{ '/images/static/favicon-160.png' | url | abs_url }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ '/images/static/favicon-96.png' | url | abs_url }}">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ '/images/static/favicon-64.png' | url | abs_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/static/favicon-32.png' | url | abs_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/static/favicon-16.png' | url | abs_url }}">
		<link rel="apple-touch-icon" href="{{ '/images/static/favicon-57.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ '/images/static/favicon-114.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ '/images/static/favicon-72.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ '/images/static/favicon-144.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ '/images/static/favicon-60.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ '/images/static/favicon-120.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ '/images/static/favicon-76.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ '/images/static/favicon-152.png' | url | abs_url }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/static/favicon-180.png' | url | abs_url }}">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="{{ '/images/static/favicon-144.png' | url | abs_url }}">
	</head>
	<body class="text-center">
		<div class="shadow-2xl max-w-4xl m-auto p-8 text-left">
			<a class="no-underline hover:no-underline" href="{{ '/' | url | abs_url }}"><div class="text-center md:text-left">
				<p class="md:pl-12">Catches, canons and drinking songs</p>
				<h1 class="-mt-4">to your rude health,</h1>
			</div></a>
			<nav>
				<ul class="flex-col sm:flex-row">
					<li><a href="{{ '/' | url | abs_url }}">Home</a></li>
					<li><a href="{{ '/recordings/' | url | abs_url }}">Recordings</a></li>
					<li><a href="{{ '/editions/' | url | abs_url }}">Editions</a></li>
					<li><a href="{{ '/composers/' | url | abs_url }}">Composers</a></li>
					<li><a href="{{ '/songs/' | url | abs_url }}">Songs</a></li>
					<li><a href="{{ '/sources/' | url | abs_url }}">Sources</a></li>
					<li><a href="{{ '/static/' | url | abs_url }}">Posts</a></li>
					<li><a href="{{ '/advanced/' | url | abs_url }}">More categories&#8230;</a></li>
				</ul>
				<div class="hidden mt-2 mr-2 ml-2" id="search">
					<div class="flex relative">
						<input type="text" placeholder="Search" id="search-input" value="" autocomplete="off"/>
						<div class="absolute inset-0 w-0 overflow-visible">
							<span class="h-full flex flex-col justify-center inline-block ml-2 w-0 overflow-visible">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
								</svg>
							</span>
						</div>
					</div>
					<div id="search-results" class="bg-white border border-black hidden -mt-px">
						<a>
							<div class="search-result">
								<span></span>
								<span>
									<p></p>
								</span>
							</div>
						</a>
					</div>
				</div>
				{% block navtiles %}
				{% endblock %}
			</nav>
			<h2>
				{{ title }}
				{%- if record and recordattr and record[recordattr] -%}
					: {{ record[recordattr] | string | truncate(config.truncate) | smartquotes | e }}
				{%- endif -%}
			</h2>
			<div class="content-pane">
				{% block content %}
					{{ content | safe }}
				{% endblock %}
			</div>
			<div class="text-right text-xs">
				<a href="https://gitlab.com/to-your-rude-health/to-your-rude-health/-/commit/{{config.commitsha}}" title="{{config.commitmsg}}">
					Version {{config.commitsha}} ({{config.committime}})
				</a>
			</div>
		</div>
	<div class="absolute inset-0 js cookie-consent">
		<div class="h-full w-full bg-black bg-opacity-50">
			<div class="h-screen w-full flex flex-row bg-opacity-100 items-center justify-center">
				<div class="w-auto h-auto flex-initial align-middle" role="info">
					<div class="bg-blue-500 text-white font-bold rounded-t-md px-4 py-2">
						<svg class="inline-block mr-2" viewBox="0 0 125 140" height="24px">
							<path d="M61.44,0A61.46,61.46,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0ZM59.12,36a8,8,0,0,1,.61-3.16,7.82,7.82,0,0,1,1.8-2.63,8.33,8.33,0,0,1,2.62-1.79,8.08,8.08,0,0,1,6.11,0,8.06,8.06,0,0,1,2.58,1.79,7.83,7.83,0,0,1,1.77,2.63A8.38,8.38,0,0,1,75.2,36a8.15,8.15,0,0,1-.59,3.1,8.23,8.23,0,0,1-1.76,2.65,8.15,8.15,0,0,1-2.59,1.82,7.72,7.72,0,0,1-3.05.6,8,8,0,0,1-3.12-.6,7.84,7.84,0,0,1-2.61-1.8,8.07,8.07,0,0,1-1.77-2.64A8.3,8.3,0,0,1,59.12,36Zm3.09,47.8-.17.63-.12.49-.05.34,0,.27a2,2,0,0,0,.09.64v0a1.09,1.09,0,0,0,.23.41.86.86,0,0,0,.35.23,1.55,1.55,0,0,0,.55.09,2.74,2.74,0,0,0,1.46-.63,14.6,14.6,0,0,0,2.15-2.06,36,36,0,0,0,2.57-3.3c.89-1.26,1.82-2.71,2.79-4.33a.37.37,0,0,1,.5-.13l3.28,2.44a.36.36,0,0,1,.09.5,56.84,56.84,0,0,1-4.58,6.87,30.35,30.35,0,0,1-4.73,4.89l0,0a18.55,18.55,0,0,1-4.92,2.92,14.15,14.15,0,0,1-5.19,1,13.63,13.63,0,0,1-4.07-.55,7.92,7.92,0,0,1-3-1.66,7.1,7.1,0,0,1-1.86-2.72,9.92,9.92,0,0,1-.61-3.62c0-.45,0-.92.08-1.42s.14-1,.25-1.58v0c.1-.54.25-1.15.43-1.82s.41-1.43.67-2.26L54.1,61.61l.47-1.67c.12-.47.22-.88.3-1.24a8.43,8.43,0,0,0,.15-.9,5.75,5.75,0,0,0,.06-.77,2.9,2.9,0,0,0-.2-1.09v0a2.49,2.49,0,0,0-.57-.81,2.68,2.68,0,0,0-.94-.55,4.15,4.15,0,0,0-1.28-.19H47.45a.37.37,0,0,1-.37-.36l0-.13,1.22-4.43a.37.37,0,0,1,.36-.27l23.67-.75a.38.38,0,0,1,.38.36l0,.12L62.21,83.78ZM97,25.88a50.31,50.31,0,1,0,14.72,35.56A50.16,50.16,0,0,0,97,25.88Z" fill="white"/>
						</svg>
						Cookie consent
					</div>
					<div class="border border-t-0 border-blue-400 bg-blue-100 px-4 py-3 text-blue-700 rounded-b-md text-justify">
						<p>This site sets optional <b>cookies</b> to track the project's usage over time. We are collecting information on:</p>
						<ol class="list-inside list-decimal">
							<li><b>Location</b> - where people are from; to tell us a bit about our audience.</li>
							<li><b>Usage</b> - how people navigate around the website; to help us improve the site.</li>
						</ol>
						<p>These cookies are set using Google Analytics. <a class="underline" href="https://policies.google.com/privacy">Find out more about Google's privacy policy.</a></p>
						<p>By clicking <b>Accept</b>, you consent to the use of this technology.</p>
						<div class="w-full h-auto flex flex-row p-4">
							<button id="cookie-accept" class="w-1/2 flex items-center justify-center rounded-md bg-blue-700 border-blue-700 text-blue-100 border-2 p-2 mr-2 hover:border-black">
								Accept
							</button>
							<button id="cookie-reject" class="w-1/2 flex items-center justify-center rounded-md bg-blue-100 text-blue-700 border-blue-700 border-2 p-2 ml-2 hover:border-black">
								Reject
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{%- for js in encore.index.js -%}
		<script src="{{ js }}"></script>
	{%- endfor -%}
	</body>
</html>
