---
eleventyExcludeFromCollections: true
---
{% extends "layouts/base.njk" %}
{% block content %}
	<div class="dynamic-content">
		{{ content|safe }}
	</div>
{% endblock %}
{% block navtiles %}
{% endblock %}
