{% extends "layouts/static.njk" %}
{% macro navtile(img, label, link) %}
	<a href="{{ link | url | abs_url }}" class="inline-block rounded-lg flex-grow-default text-center m-2 relative h-auto overflow-hidden">
		<div class="absolute inset-0">
			<div class="h-full w-full">
				<img class="object-cover h-full w-full transition-all duration-200" src="{{ ('/images/static/' + img) | url | abs_url }}"/>
			</div>
			<div style="border-bottom-width:-0.25rem;" class="border-transparent absolute bottom-0 inset-x-0 pb-1 bg-white bg-opacity-75">
				{{- label -}}
			</div>
		</div>
	</a>
{% endmacro %}
{% block navtiles %}
	<div class="navtiles text-4xl w-full flex flex-col lg:flex-row">
		{{ navtile('home-about.png', "About", '/static/about/') }}
		{{ navtile('home-recordings.jpg', "Recordings", '/audio/') }}
		{{ navtile('home-songs.jpg', "Songs", '/songs/') }}
		{{ navtile('home-sources.jpg', "Sources", '/sources/') }}
	</div>
{% endblock %}
