---
layout: layouts/dynamic.njk
title: Editions
description: Editions of catches, canons and drinking songs
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "icons.njk" import edrec %}
{% if not data.editions %}
	<div>
		<p><i>No Editions</i></p>
	</div>
{% else %}
	{{ startcol(data.editions) }}
		<ul>
			{% for edition in data.editions | bettersort('name') %}
				<li>
					<a href="{{ ('/editions/' + edition.id + '/') | url | abs_url }}">
						{{edition.name}}
						{{ edrec(song, small=true) }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
