---
layout: layouts/dynamic.njk
title: Audio
description: Audio of catches, canons and drinking songs
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "icons.njk" import edrec %}
{% if not data.audio %}
	<div>
		<p><i>No Audio</i></p>
	</div>
{% else %}
	{% set nonencoded = 0 %}
	{{ startcol(data.audio) }}
		<ul>
			{% for audio in data.audio | bettersort('title') %}
				{% if audio.links.songs %}
					<li>
						<a href="{{ ('/songs/' + (audio.links.songs|first).id) | url | abs_url }}">
							{{audio.title}}
							{{ edrec(song, small=true) }}
						</a>
						<audio controls preload="metadata" class="transition-all shadow-lg rounded-lg w-11/12 my-0.5">
							<source src="{{ ('/audios/' + audio.filename) | url | abs_url }}"/>
						</audio>
					</li>
				{% else %}
					{% set nonencoded = nonencoded + 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	{% if nonencoded > 0 %}
		<h2>Recorded songs not yet encoded on this site</h2>
		{% if nonencoded > config.colminitems %}
			<div class="keep-column col-count-1 md:col-count-2">
		{% else %}
			<div>
		{% endif %}
			<ul>
				{% for audio in data.audio | bettersort('title') %}
					{% if not audio.links.songs %}
						<li>
							{{audio.title}}
							<audio controls preload="metadata" class="transition-all shadow-lg rounded-lg w-11/12 my-0.5">
								<source src="{{ ('/audios/' + audio.filename) | url | abs_url }}"/>
							</audio>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endif %}
