---
layout: layouts/dynamic.njk
title: Genres
description: Genres in Sources
---
{% if not data.genres %}
	<div>
		<p><i>No genres</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="{{ '/genres/common/' | url | abs_url }}">Commonality</a></h3>
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.genres) }}
		<ul>
			{% for genre in data.genres | sort(false, false, 'name') %}
				<li><a href="{{ ('/genres/' + genre.id) | url | abs_url }}">{{ genre.name|smartquotes|e }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
