---
layout: layouts/dynamic.njk
title: Videos
description: Videos of catches, canons and drinking songs
---
{% from "icons.njk" import edrec %}
{% from "video.njk" import facebook %}
{% if not data.videos %}
	<div>
		<p><i>No Videos</i></p>
	</div>
{% else %}
	{% set nonencoded = 0 %}
	<div>
		<ul>
			{% for video in data.videos | bettersort('title') %}
				{% if video.links.songs %}
					<li>
						<a href="{{ ('/songs/' + (video.links.songs|first).id) | url | abs_url }}">
							{{video.title}}
							{{ edrec(song, small=true) }}
						</a>
						{{facebook(video.facebook)}}
					</li>
				{% else %}
					{% set nonencoded = nonencoded + 1 %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	{% if nonencoded > 0 %}
		<h2>Videoed songs not yet encoded on this site</h2>
		<div>
			<ul>
				{% for video in data.videos | bettersort('title') %}
					{% if not video.links.songs %}
						<li>
							{{video.title}}
							{{facebook(video.facebook)}}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endif %}
