---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
title: Posts
description: Written posts
---
{% for post in collections.all|reverse %}
	<a href="{{post.url|url|abs_url}}">
		<h2>{{post.data.title}}</h2>
		<p class="text-yellow-900 italic">
			{% if post.data.page.excerpt %}
				{{post.data.page.excerpt|toHTML|striptags|safe}}
			{% endif %}
		</p>
	</a>
	<hr/>
{% endfor %}
	
