---
pagination:
    data: data.editions
    size: 1
    alias: record
recordattr: name
permalink: "editions/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Edition
description: Edition of song
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "partials/edition.njk" import pdfedition %}
{% from "icons.njk" import edrec %}
<div typeof="mo:PublishedScore">
	<meta property="rdfs:Resource" content="{{ ('/pdf/' + record.id + '.pdf') | url | abs_url }}"/>
	<meta property="dc:title" content="{{ record.name }}"/>
	{% if not record.links.songs %}
		<div>
			<p><i>No songs relating to this edition: &ldquo;{{record.name}}&rdquo;</i></p>
		</div>
	{% else %}
		<h2>Edition of:</h2>
		{{ startcol(record.links.songs) }}
			<ul>
				{% for song in record.links.songs | bettersort('sortabletitle') %}
					<li>
						<a rel="mo:publication_of" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
							{% if song.title %}
								{{ song.title|truncate(config.truncate)|smartquotes|e }}
							{% elif song.texts[0].truncated %}	
								{{ song.texts[0].truncated|smartquotes|e }}
							{% elif song.texts[0].edited %}
								{{ song.texts[0].edited | truncate(config.truncate)|smartquotes|e }}
							{% elif song.presentedtexttruncated %}
								{{ song.presentedtexttruncated|smartquotes|e }}
							{% else %}
								{{ song.presentedtext | truncate(config.truncate)|smartquotes|e }}
							{% endif %}
							{{ edrec(song, small=true) }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<div>
		<a href="{{ ('/abc/' + record.id + '.abc') | url | abs_url }}">Source of this edition (ABC)</a>
	</div>
	{{ pdfedition(record) }}
</div>
