---
pagination:
    data: data.keys
    size: 1
    alias: record
recordattr: name
permalink: "keys/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Key
description: Key in Source
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "icons.njk" import edrec %}
<div typeof="ton:Key">
	<meta property="ton:tonic" content="{{record.name|extract_tonic}}"/>
	<meta property="ton:mode" content="{{record.name|extract_mode}}"/>
	{% if not record.links.songs %}
		<div>
			<p><i>No songs in this key: &ldquo;{{record.name}}&rdquo;</i></p>
		</div>
	{% else %}
		<h2>Songs in <span property="dc:title">{{ record.name }}</span>:</h2>
		{%- set splitted = record.links.songs | bettersort('sortabletitle') | alphasplit('sortabletitle') -%}
		{{ startcol(record.links.songs) }}
			<ul class="category-list">
				{% for alpha in splitted %}
					{% set letter = (alpha|first).sortabletitle|firstletter %}
					<a class="inline" name="alpha-anchor{{letter}}" href="#alpha-anchor-{{letter}}">
						<h2 class="inline">{{letter}}</h2>
					</a>
					<hr class="mb-2 border border-black"/>
					{% for song in alpha %}
						<li>
							<a rel="dcterms:isReferencedBy" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
								{% if song.title %}
									{{ song.title|truncate(config.truncate)|smartquotes|e }}
								{% elif song.texts[0].truncated %}	
									{{ song.texts[0].truncated|smartquotes|e }}
								{% elif song.texts[0].edited %}
									{{ song.texts[0].edited | truncate(config.truncate)|smartquotes|e }}
								{% elif song.presentedtexttruncated %}
									{{ song.presentedtexttruncated|smartquotes|e }}
								{% else %}
									{{ song.presentedtext | truncate(config.truncate)|smartquotes|e }}
								{% endif %}
								{{ edrec(song, small=true) }}
							</a>
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
