---
pagination:
    data: data.pages
    size: 1
    alias: record
recordattr: pagenum
permalink: "pages/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Page
description: Page in Source
---
{% from "partials/startcol.njk" import startcol with context %}
{% import 'image.njk' as addimage with context %}
<div type="dbo:Page (paper)" about="#page-{{record.id}}">
	{{ startcol(record.sources) }}
		{% set comma = joiner() %}
		<i>(
		{%- for source in record.sources -%}
			{{- comma() }} <a rel="rdfs:Container" typeof="mo:MusicalManifestation" href="{{ ('/sources/' + source.id) | url | abs_url }}">{{ source.shelfmark|smartquotes|e }}</a>
		{%- endfor -%}
		)</i>
	</div>
	{% if not record.links.items %}
		<div>
			<p><i>No items on this page: &ldquo;<span property="dc:title">{{record.pagenum}}</span></i></p>
		</div>
	{% else %}
		<h2>Items on page <span property="dc:title">{{record.pagenum}}</span></h2>
		{{ startcol(record.links.items) }}
			<ul>
				{% for item in record.links.items | bettersort('sortabletitle') %}
					<li>
						<a rel="dcterms:hasPart" typeof="mo:MusicalManifestation" href="{{ ('/items/' + item.id) | url | abs_url }}">
							{% if item.title %}
								{{ item.title|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% elif item.texts[0].truncated %}	
								{{ item.texts[0].truncated|smartquotes|e }}
							{% elif item.texts[0].edited %}
								{{ item.texts[0].edited|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% elif item.presentedtexttruncated %}
								{{ item.presentedtexttruncated|smartquotes|e }}
							{% else %}
								{{ item.presentedtext|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if config.images and record.images %}
		<div>
			<h2>Images:</h2>
			{{addimage.linkedimages(record.images | sort)}}
		</div>
	{% endif %}
</div>
