---
pagination:
    data: data.tempos
    size: 1
    alias: record
recordattr: name
permalink: "tempos/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Tempo
description: Tempo in Source
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "icons.njk" import edrec %}
<div type="xsd:string" about="#tempo-{{record.id}}">
	{% if not record.links.songs %}
		<div>
			<p><i>No songs at this tempo: &ldquo;<span property="dc:title">{{record.name}}</span>&rdquo;</i></p>
		</div>
	{% else %}
		<h2>Songs at &ldquo;<span property="dc:title">{{ record.name|smartquotes|e }}</span>&rdquo;:</h2>
		{{ startcol(record.links.songs) }}
			<ul>
				{% for song in record.links.songs | bettersort('sortabletitle') %}
					<li><a rel="dcterms:isReferencedBy" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
							{% if song.title %}
								{{ song.title|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% elif song.texts[0].truncated %}	
								{{ song.texts[0].truncated|smartquotes|e }}
							{% elif song.texts[0].edited %}
								{{ song.texts[0].edited|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% elif song.presentedtexttruncated %}
								{{ song.presentedtexttruncated|smartquotes|e }}
							{% else %}
								{{ song.presentedtext|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% endif %}
							{{ edrec(song, small=true) }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
