---
pagination:
    data: data.voices
    size: 1
    alias: record
recordattr: "voices"
permalink: "voices/{{ record.voices }}/"
layout: layouts/dynamic.njk
title: Voice
description: Voice
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "icons.njk" import edrec %}
<div type="xsd:positiveInteger" about="#voices-{{record.id}}">
	<meta property="dc:title" content="{{record.voices}}"/>
	{% if not (record.links.songs and record.links.songs|length > 0) %}
		<div>
			<p><i>No songs with this many voices</i></p>
		</div>
	{% else %}
		<h2 class="mb-2">
			Songs for {{ record.voices | englishNumber | lower |smartquotes|e }}
			{% if record.voices == 1 %}
				voice:
			{% else %}
				voices:
			{% endif %}
		</h2>
		{% set splitted = record.links.songs | bettersort('sortabletitle') | alphasplit('sortabletitle') %}
		{{ startcol(record.links.songs) }}
			<ul class="category-list">
				{% for alpha in splitted %}
					{% set letter = (alpha|first).sortabletitle|firstletter %}
					<a class="inline" name="alpha-anchor-{{letter}}" href="#alpha-anchor-{{letter}}">
						<h2 class="inline">{{letter}}</h2>
					</a>
					<hr class="mb-2 border border-black">
					{% for song in alpha %}
						<li><a rel="dcterms:isReferencedBy" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
							{{ song.sortabletitle|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{{ edrec(song, small=true) }}
						</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
